html, body {
  height: 100%;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: Helvetica, sans-serif;;
  overflow: hidden;
}

a {
  color: #ffffff;
}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.element {
  width: 120px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
  border: 1px solid rgba(127,255,255,0.25);
  text-align: center;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

  .element .number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
  }

  .element .symbol {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 10px rgba(0,255,255,0.95);
  }

  .element .details {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
  }

  .element:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .1)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

input {
  color: rgba(127,255,255,0.75);
  background: transparent;
  outline: 1px solid rgba(127,255,255,0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
input:hover {
  background-color: rgba(0,255,255,0.5);
}
input:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}

/* #### Our style */

.movie_person_card{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: 350px;
  width: 230px;
}

.movie_person_card:hover{
  width: 730px;
}

.movie_person_card_picture{
  width: 200px;
  height: 230px;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
  background-size:contain;
  background-position:center;
}

.movie_person_card_body{
  margin-left: 10px;
  position: relative;
  text-transform: uppercase;
  display: none;
  width: 490px;
  height: 350px;
  overflow: hidden;
  background-color: rgba(127,255,255,0.28);
  padding: 15px;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
  color: #fff;
}

.movie_person_card:hover .movie_person_card_body{
  display: inline-block;
  vertical-align: top;
}

.movie_person_card_picture{
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

.movie_person_pannel{
  width: 100%;
  font-weight: bold;
  font-size: 22px;
}

.movie_person_ratingPannel{
  float: right;
  width: 20%;
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
}

.movie_person_rating_number{
  margin-top: -15px;
  font-size: 55px;
}

.movie_person_name, .movie_person_ratingPannel{
  display: inline-block;
  vertical-align: top;
}

.movie_person_name{
  width: 78%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.movie_person_birthday{
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

.movie_person_biography{
  width: 460px;
  height: 160px;
  overflow: auto;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

.movie_person_biography::-webkit-scrollbar {
    display: none;
}

.movie_person_known{
  width: 90%;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie_person_filmography{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: 10px auto 10px auto;
  font-weight: bold;
  font-size: 20px;
}

.movie_person_filmography_btn{
  margin: 0;
  padding: 0;
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.movie_person_filmography_btn:hover{
  text-shadow: 0 0 10px rgba(0,255,255,1);
  cursor: pointer;
}
