.top1 { margin-top:1px!important; }
.top5 { margin-top:5px!important; }
.top7 { margin-top:7px!important; }
.top10 { margin-top:10px!important; }
.top15 { margin-top:15px!important; }
.top17 { margin-top:17px!important; }
.top20 { margin-top:20px!important; }
.top30 { margin-top:30px!important; }
.bottom5 { margin-bottom:5px!important; }
.bottom7 { margin-bottom:7px!important; }
.bottom10 { margin-bottom:10px!important; }
.bottom15 { margin-bottom:15px!important; }
.bottom17 { margin-bottom:17px!important; }
.bottom20 { margin-bottom:20px!important; }
.bottom30 { margin-bottom:30px!important; }
.left5 { margin-left:5px!important; }
.left7 { margin-left:7px!important; }
.left10 { margin-left:10px!important; }
.left15 { margin-left:15px!important; }
.left17 { margin-left:17px!important; }
.left20 { margin-left:20px!important; }
.left30 { margin-left:30px!important; }
.right { margin-right:5px!important; }
.right7 { margin-right:7px!important; }
.right10 { margin-right:10px!important; }
.right15 { margin-right:15px!important; }
.right17 { margin-right:17px!important; }
.right20 { margin-right:20px!important; }
.right30 { margin-right:30px!important; }

/* pro */
.title-button{
	float: right;

}
.pro-event-team-list .image-table{
	width: 65px!important;
	height: 40px !important;
}
.pro-event-player-list .image-table{
	width: 45px!important;
	height: 60px!important;
}

/* public */
.public-event-bracket-team{
	display: inline-block;
	border: 1px solid rgb(201, 201, 201);
	width:115px; 
	height:35px;
}
.middle-top-right{
	height: 50px;
	width: 50%;
	border-top: 1px solid rgb(201, 201, 201);
	border-left: 1px solid rgb(201, 201, 201);
	float: right;
}
.middle-top-left{
	height: 50px;
	width: 50%;
	border-top: 1px solid rgb(201, 201, 201);
	border-right: 1px solid rgb(201, 201, 201);
	float: left;
}
.middle-bottom-right{
	height: 50px;
	width: 50%;
	border-bottom: 1px solid rgb(201, 201, 201);
	border-left: 1px solid rgb(201, 201, 201);
	float: right;
	margin-bottom: 15px;
}
.middle-bottom-left{
	height: 50px;
	width: 50%;
	border-bottom: 1px solid rgb(201, 201, 201);
	border-right: 1px solid rgb(201, 201, 201);
	float: left;
	margin-bottom: 15px;
}
.middle-top-right2{
	height: 130px;
	width: 50%;
	border-top: 1px solid rgb(201, 201, 201);
	border-left: 1px solid rgb(201, 201, 201);
	float: right;
}
.middle-top-left2{
	height: 130px;
	width: 50%;
	border-top: 1px solid rgb(201, 201, 201);
	border-right: 1px solid rgb(201, 201, 201);
	float: left;
}
.middle-bottom-right2{
	height: 130px;
	width: 50%;
	border-bottom: 1px solid rgb(201, 201, 201);
	border-left: 1px solid rgb(201, 201, 201);
	float: right;
	margin-bottom: 10px;
}
.middle-bottom-left2{
	height: 130px;
	width: 50%;
	border-bottom: 1px solid rgb(201, 201, 201);
	border-right: 1px solid rgb(201, 201, 201);
	float: left;
	margin-bottom: 10px;
}
.right-bottom{
	width: 60px;
	height: 20px;
	border-top: 1px solid rgb(201, 201, 201);
	margin-top: 9px;
	border-right: 1px solid rgb(201, 201, 201);
}
.right-top{
	width: 60px;
	height: 20px;
	margin-bottom: 21px;
	border-bottom: 1px solid rgb(201, 201, 201);
	border-right: 1px solid rgb(201, 201, 201);
}
.left-bottom{
	width: 60px;
	height: 20px;
	border-top: 1px solid rgb(201, 201, 201);
	margin-top: 9px;
	border-left: 1px solid rgb(201, 201, 201);
	float: right;
}
.left-top{
	width: 60px;
	height: 20px;
	border-bottom: 1px solid rgb(201, 201, 201);
	margin-bottom: 21px;
	border-left: 1px solid rgb(201, 201, 201);
	float: right;
}
.public-event-bracket-team-logo{
	width: 60px; float: left; height: 40px; vertical-align: middle; margin-left: -10px; margin-top: -4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
}
.public-event-bracket-team-name{
	line-height: 35px;
	font-size: 0.9em;
	margin-right: 8px;
}
.public-event-bracket-team-score{
	float: right; line-height: 33px; border-left: 1px solid rgb(201, 201, 201); padding-left: 5px; padding-right: 5px;
	font-size: 0.9em;
}
.green-background{
	background-color: #81ff81;
}
.red-background{
	background-color: #fe6f6f;
}
.public-event-bracket-vertical-line{
	background-color: grey; margin:0 auto;width:100px; height:40px;
}
.bracket-table{
	text-align:center; 
	width: 1066px; 
	margin: 0 auto;
	table-layout: fixed;
}
.bracket-table > tbody:before{
  content: "-";
  display: block;
  line-height: 2em;
  color: transparent;
}
.bracket-table > tbody:after{
  content: "-";
  display: block;
  line-height: 2em;
  color: transparent;
}
.footer-info{
	text-align: center;
	margin-bottom: 20px;
}
.footer-info > a {
	color: #454545;
}
.score{
	background-color: rgb(218, 218, 218)
}
.pointer{
	cursor: pointer;
}
.clearfix {
  clear: both;
  line-height: 0;
  font-size: 0;
  height: 0;
}
.public-event-places{
	text-align: center;
}
.public-event-places-spectator{
	font-size: 1.9em;
}
.public-event-slide{
	height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
}
.public-event-all{
	width: 500px;
	text-align: right;
	color: #565656;
	cursor: pointer;
}
.public-event-matchLayout-switch{
	text-align: center;    
	height: 15px;
}
.switch-grey{
	display: inline-block;
	border-radius: 50%;
	width: 8px;
	height: 8px; 
	background-color: grey;
	margin-right: 3px;
	margin-left: 3px;
	cursor: pointer;
}
.switch-blank{
	display: inline-block;
	border-radius: 50%;
	border: 1px solid grey;
	width: 8px;
	height: 8px; 
	margin-right: 3px;
	margin-left: 3px;
	cursor: pointer;
}
.public-event-players img{
	width: 50px;
	height: 65px;
}
.public-event-teams img{
	width: 65px;
	height: 40px;
}
.public-event-matchLayout-table-center{
	margin-top: 12px;
	margin-bottom: 12px;
}
.public-event-matchLayout-team{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}
.public-event-matchLayout-place{ 
  height: 28px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #4A4949;
  line-height: 28px;
}
.public-event-matchLayout-category{
  text-align: center;
  color: #4A4949;
  margin-bottom: -3px;
  margin-top: -4px;
  height: 22px;
}
.public-event-matchLayout-orangeline{
  border-bottom: 1.8px solid orange;
  width: 267px;
  margin-top: 5px;
}
.public-event-matchLayout-blueline{    
	border-top: 1.8px solid #6c6cff;
  width: 267px;
  position: relative;
	left: -101px;
}
.public-event-matchLayout-name{
  height: 16px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #4A4949;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.public-event-matchLayout-name:hover{
	color: #4a4a95;
}
.public-event-matchLayout-scores td{
  width: 35px;
  text-align: center;
  height: 38.18.18;
  color: #4A4949;
  font-weight: bold;
}
.public-event-matchLayout-scores table{
	margin: 0 auto;
}
.public-event-matchLayout-photo-group{
	text-align: center;
	position: relative;
	z-index: 2;
}
.public-event-matchLayout-photo + .public-event-matchLayout-photo{
	margin-left: 10px;
}
.public-event-matchLayout-main,
.public-event-matchLayout-divise{
	height: 125px;
}
.public-event-matchLayout-main-simplified{
	margin-top: 12px;
	margin-bottom: 2px;
}
.public-event-matchLayout-simplified{
	border-top: 1px solid rgb(201, 201, 201);
}
.service{
	width: 15px;
	height: 15px;
	position: absolute;
}
.winner{
  height: 13px;
  position: absolute;
}
}
.right-first-name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 1px;
}
.right-second-name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
.left-first-name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 50px;
}
.left-second-name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
.public-event-matchLayout-main-simplified,
.public-event-matchLayout-divise-simplified{
	height: 100px;
}
.public-event-matchLayout-middle{
	padding: 0px!important;
}
.public-event-slides{
	height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  display: inline-block;
  margin: 10px;
}
.public-event-slides:hover{
  cursor: pointer;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
}
.public-event-matchLayout-photo{    
	height: 75px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  display: inline-block;
  margin-top: 5px;
  z-index: 5;
}
.public-event-matchLayout-photo:hover{
  cursor: pointer;
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
  -moz-filter: brightness(120%);
  -o-filter: brightness(120%);
  -ms-filter: brightness(120%);
}
.public-event-description{
	margin: 13px;
	color: #004b00;
	font-weight: bold;
	line-height: 50px;	
}
.public-event-banner{
	height: 200px;
	width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.public-event-stage-header{
	display: inline-block;
}
.public-event-stage-logo{
	height: 40px;
	width: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.public-event-stage-col{
	width: 460px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid rgb(201, 201, 201);
	margin: 5px;
}
.public-event-stage-header{
	margin-bottom: 10px;
}
.public-event-match{
	text-align: center;  
  overflow-x: auto;
}
.fullScreen{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:auto;
	background-color: white;
}
.background-img-slide{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
}
.public-event-stage-name{
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	margin: 10px;
	font-size: 1.2em;
	max-width: 125px;
  white-space: nowrap;
  text-overflow: ellipsis;	
  overflow: hidden;
}
.public-event-matchLayout{
	width: 490px;
	height: 150px;
	border: 1px solid rgb(201, 201, 201);
	margin: 10px!important;
	cursor: pointer;
	display: inline-block;
}
.public-event-match-info{
	width: 500px;
	margin: 0 auto;
}
.public-event-matches{
	text-align: center;
}
.public-event-matchLayout:hover{
	background-color: #F3F3F3;
}
.public-event-logo{
	height: 140px;
	width: 140px;
	margin-top: -70px;
	z-index: 2;
	display: inline-block;
  object-fit: cover;
}
.public-event-name{
	margin-left: 20px;
	display: inline-block;
	margin-left: 10px;
}
.public-event-link{
	margin: 13px;
	color: #004b00;
	font-weight: bold;
	line-height: 50px;
}
.public-event-link:hover{
	color: #017501;
	text-decoration: none;
}
.public-event-link:active,
.public-event-link:focus{
	color: #004b00;
	text-decoration: none;
	outline: none;
}
#public-event-linkgroup{
	float: right;
}
/* Table Motion */
.slide {
	background-color: white;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  height: 57px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slide-container {
  overflow: hidden!important;
  border-collapse: separate;
}
.public-event-team-description{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.public-event-player-description{
	border: 1px solid rgb(201, 201, 201);
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 1.2em;
}
.player-info-row{
	margin-bottom: 10px;
}
.public-event-player-photo{
	margin-right: 20px;
	width: 60px;
	height: 80px;	
	display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  vertical-align: middle;
}
.public-event-player-info{
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	width: 50%;
	min-width: 99px;
	color: #c85a19;
	font-size: 1.5em;
	text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.public-event-player-team{
	width: 80px;
	height: 60px;
	display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  vertical-align: middle;
  margin-left: 20px;
}
.margin-30{
	margin-bottom: 30px;
}
.margin-left-20{
	margin-left: 20px;
}
.public-event-team-image{
	width: 80px;
	height: 50px;
	display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  vertical-align: middle;
}
.public-event-team-name{
  display: inline-block;
  margin-left: 50px;
  line-height: 50px;
  font-size: 30px;
  vertical-align: middle;
}
.public-event-team-players thead{
	font-weight: 300;
}
.public-event-team-players td{
	padding-left: 0px!important;
}
.public-event-team-players .image-table{
	width: 45px!important;
	height: 60px!important;
}
.public-event-team-matches .public-event-matchLayout{
	margin-left: 0px!important;
}
.public-event-match-statistics{
	margin-top: 20px;
	margin-bottom: 20px;
}
.public-event-statistics table{
	border-collapse: unset!important;
	border-spacing: none!important;
	min-width: 500px;
	text-align: center;
	margin: 0 auto;
}
@keyframes width-growright {
    0% {
        transform-origin: right; 
        -moz-transform-origin: right; /* Firefox 4 */
        -webkit-transform-origin: right; /* Safari and Chrome */
        -o-transform-origin: right; /* Opera */
        transform: scaleX(0);
        -moz-transform: scaleX(0); /* Firefox 4 */
        -webkit-transform: scaleX(0); /* Safari and Chrome */
        -o-transform: scaleX(0); /* Opera */
    }
    100% {
        transform-origin: right; 
        -moz-transform-origin: right; /* Firefox 4 */
        -webkit-transform-origin: right; /* Safari and Chrome */
        -o-transform-origin: right; /* Opera */
        transform: scaleX(1);
        -moz-transform: scaleX(1); /* Firefox 4 */
        -webkit-transform: scaleX(1); /* Safari and Chrome */
        -o-transform: scaleX(1); /* Opera */
    }
}    
@keyframes width-growleft {
    0% {
        transform-origin: left; 
        -moz-transform-origin: left; /* Firefox 4 */
        -ms-transform-origin: left; /* Firefox 4 */
        -webkit-transform-origin: left; /* Safari and Chrome */
        -o-transform-origin: left; /* Opera */
        transform: scaleX(0);
        -moz-transform: scaleX(0); /* Firefox 4 */
        -webkit-transform: scaleX(0); /* Safari and Chrome */
        -o-transform: scaleX(0); /* Opera */
    }
    100% {
        transform-origin: left; 
        -moz-transform-origin: left; /* Firefox 4 */
        -ms-transform-origin: left; /* Firefox 4 */
        -webkit-transform-origin: left; /* Safari and Chrome */
        -o-transform-origin: left; /* Opera */
        transform: scaleX(1);
        -moz-transform: scaleX(1); /* Firefox 4 */
        -webkit-transform: scaleX(1); /* Safari and Chrome */
        -o-transform: scaleX(1); /* Opera */
    }
}
.public-event-statistics td:nth-child(2),
.public-event-statistics td:nth-child(4){
	width: 33%;
}
.public-event-statistics td:nth-child(2) > div > div{
  animation: width-growright 2s;
  transition: width 1s;
  -moz-transition: width 1s; /* Firefox 4 */
  -webkit-transition: width 1s; /* Safari and Chrome */
  -o-transition: width 1s; /* Opera */
}
.public-event-statistics td:nth-child(4) > div > div{
  animation: width-growleft 2s;
  transition: width 1s;
  -moz-transition: width 1s; /* Firefox 4 */
  -webkit-transition: width 1s; /* Safari and Chrome */
  -o-transition: width 1s; /* Opera */
}
.public-event-statistics td{
}
.public-event-statistics-left{
	background-color: #5c5cde;
	height: 9px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	float: right;
}
.public-event-statistics-right{
	background-color: #ffc356;
	height: 9px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.public-event-statistics-left-biggest{
	background-color: #d7d7d7;
	height: 9px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	float: right;
}
.public-event-statistics-right-biggest{
	background-color: #d7d7d7;
	height: 9px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
/* Col sizes */

.col1 {
	width: 8.3333%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col2 {
	width: 16.6666%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col3 {
	width: 25%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col3-5 {
	width: 29.1666666%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col4 {
	width: 33.3333%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col5 {
	width: 41.6666%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col6 {
	width: 50%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col7 {
	width: 58.3333%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col8 {
	width: 66.6666%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col9 {
	width: 75%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col10 {
	width: 83.3333%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col11 {
	width: 91.6666%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.col12 {
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}

.min-width-2 { min-width: 200px;}
.min-width-3 { min-width: 300px;}
.min-width-4 { min-width: 400px;}
.min-width-4-5 { min-width: 450px;}
.min-width-5 { min-width: 500px;}
.min-width-6 { min-width: 600px;}
.min-width-7 { min-width: 700px;}
.min-width-8 { min-width: 800px;}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto-Medium.ttf');
}

/* Body setup */
body{
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Roboto-Light';
}
html{
  width:100vw;
  overflow-x:hidden;
}

/* Header setup */
.spectator-link{
	cursor: pointer;
}
#header{
	height: 55px;
	background-color: #1D1D1D;
}
.header-text{
	display: inline-block;	
	height: 55px;
	line-height: 55px;
	color: #FFFFFF;
	font-size: 22px;
	vertical-align: center;
}
.header-img{
	display: inline-block;
	height: 55px;
	vertical-align: top;
}
.header-dropdown{
	float: right;
	height: 55px;
}
#nav-dropdown:hover,
.open > .dropdown-toggle.btn-default{
	background-color: #333333!important;
	color: #FFFFFF!important;
	border: none!important;
	box-shadow: none!important;
}
.header-dropdown .btn{
	color: #E7E7E7;
	background: none;
	border: none;
}
.button-log-in{
	float: right;
	margin: 10px;
	border: none;
	color: #E7E7E7;
	background-color: #2F2F2F;
}


/* Log In & Sign Up */
.panel-description {
	margin-bottom: 20px!important;
	text-align: center;
}
.green-button {
	background-color: #67B54C;
	font-size: 17px;
	height: 40px;
	color: #E7E7E7;
	width: 100%!important;
}
.green-button:hover {
	background-color: #5FA547;
	color: #E7E7E7;
}
.green-button:active, .green-button:focus {
	background-image: none!important;
	background-color: #67B54C!important;
	border: none!important;
	color: #E7E7E7!important;
}
.red-button {
	background-color: #D44C4C;
	font-size: 17px;
	height: 40px;
	color: #E7E7E7;
	width: 100%!important;
}
.red-button:hover {
	background-color: #C54141;
	color: #E7E7E7;
}
.red-button:active, .red-button:focus {
	background-image: none!important;
	background-color: #D44C4C!important;
	border: none!important;
	color: #E7E7E7!important;
}
.blue-button {
	background-color: #409BD4;
	font-size: 17px;
	height: 40px;
	color: #E7E7E7;
	width: 100%!important;
}
.blue-button:hover {
	background-color: #3D8EC0;
	color: #E7E7E7;
}
.blue-button:active, .blue-button:focus {
	background-image: none!important;
	background-color: #409BD4!important;
	border: none!important;
	color: #E7E7E7!important;
}
.log-sign {
	min-width: 420px;
}

/* Surcharge */
.tooltip{
	margin-top: -15px!important;
}
.tooltip-inner{
	background-color: #4A4A4A;
	color: #E7E7E7;
}
.tooltip.bottom .tooltip-arrow{
	border-bottom-color: #4A4A4A;
}

.image-table{
  object-fit: cover;
	width: 45px;
	height: 40px;
}

/* Tooltips setup */
.status:hover > .tool{
	opacity: 0.9;
	display: block;
}
.tool {
	display: none;
	margin-top: -7px!important;
	margin-left: 15px!important;
}

/* Alert */
#alertWrap{
}
#takePlace{
	opacity: 0;
}
#alert{
	background-color: #D44C4C;
	color: #CFCFCF;
	width: 100%;
	padding: 5px;
}
.float-top .alert-text{
	font-size: 19px!important;
	line-height: 20px!important;
	color: #E7E7E7!important;
	margin-bottom: 0px!important;
	vertical-align: middle!important;
}
.float-top{
  position: fixed;
  top: 0;
  min-width: 495.8px;
  width: 41.6666%;
  padding-right: 25.8px;
  padding-left: 0px;
  z-index: 1;
}
.error-image{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
}
.error-close{
	width: 15px;
	height: 15px;
	float: right;
}
.error-close:hover{
	cursor: pointer;
}
.linkfloat-top{
  position: fixed;
  top: 0;
  width: 6.5%;
  z-index: 15;
}
.nofloat-top{
	z-index: 15;
	position: relative;
}
.alert-text{
	font-size: 19px;
	line-height: 20px;
	color: #E7E7E7;
	margin-bottom: 0px;
	vertical-align: middle;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Tables */
.table > tbody > tr > td {
  vertical-align: middle;
}
.edit-img img{
	width: 30px;
	height: 30px;
}
.del-img img{
	width: 30px;
	height: 30px;
}
.filtered-table input{

}
thead{
	font-size: 1.4em;
	font-weight: bold;
}
tbody{
	font-size: 1.2em;
}
.event-title{
	font-size: 1.7em;
	line-height: 40px;
	margin-bottom: 0px;
}
.clickable-case{

}
.clickable-row{

}
.clickable-case:hover{
	color: #5A7EF9;
	cursor: pointer;
}
.clickable-case img:hover{
	filter: saturate(300%);
  -webkit-filter: saturate(300%);
  -moz-filter: saturate(300%);
  -o-filter: saturate(300%);
  -ms-filter: saturate(300%);
}
.clickable-row:hover{
	cursor: pointer;
	background-color: #F3F3F3;
}
.clickable-button:hover{
	cursor: pointer;
}
.clickable-button img:hover{
	-webkit-filter: invert(.3);
  filter: invert(.3);
}

/* LinkOptions */

.pretty-link{
	font-size: 1.35em;
	color: #000;
	display: block;
	margin: 5px;
}
.pretty-link:hover{
	color: #908D8D;
}
.pretty-link:hover, .pretty-link:visited, .pretty-link:link, .pretty-link:active{
  text-decoration: none;
  outline: 0;
  color: #000;
}
.active {
	font-family: 'Roboto-Medium';
}

/* Form */
.label{
	font-size: 1.3em;
}
.form{
	margin-top: 20px;
}
.form-group .form-group{
	margin-bottom: 0px;
}

/* Stuffs */
.horizontal-scroll{
	overflow-y: hidden;
	-ms-overflow-y: hidden;
	white-space: nowrap;
}
.vertical-align-middle {
	vertical-align: middle;
}
.vertical-align-top {
	vertical-align: top;
}
.inline-block {
	display: inline-block;
}
.arrow-left {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid blue; 
}
.float-none {
	float: none;
}
.width-100 {
	width: 100%;
}
.scrollable {
	overflow: auto;
	height:80vh;
}
.block-center{
	display:block;
	margin: 0 auto;
	float: none!important;
}
.text-center{
	text-align: center;
}

.border-right {
	border-right: 1px solid #616161;
}
.border-left {
	border-left: 1px solid #616161;	
}
.block{
	display:block;
}
.date {
	font-weight: 1.3em;
	color: #868181;
}
.message {
	color: #565656;
}
.wallpost > div {
	padding: 5px!important;
}
h3 {
	font-weight: 400;
	font-size: 1.8em;
}
h2 {	
	margin-top: 0px;
}
hr {
	border-color: #B3B3B3 -moz-use-text-color -moz-use-text-color;
}
/* Cicles */
.status-grey {
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: grey;
}
.status-black {
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: black;
}
.status-blue {
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: blue;
}
.status-red {
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: red;
}

/* Modal */
.red-button-modal{
	background-color: #D44C4C;
	color: #E7E7E7;
}
.red-button-modal:hover {
	background-color: #C54141;
	color: #E7E7E7;
}
.red-button-modal:active, .red-button-modal:focus {
	background-image: none!important;
	background-color: #D44C4C!important;
	border: none!important;
	color: #E7E7E7!important;
}
.white-button-modal{
	background-color: white;
	color: #4A4A4A;
}
.white-button-modal:hover {
	background-color: #F6F6F6;
	color: #4A4A4A;
}
.white-button-modal:active, .white-button-modal:focus {
	background-image: none!important;
	background-color: #E7E7E7!important;
	border: none!important;
	color: #4A4A4A!important;
}
.modal-footer button{
	font-size: 17px;
	height: 40px;
}
/** Enhancement */
.float-right{ float:right;}
.align-right{ text-align: right;}
.btn{
	outline: none!important;
}
label{
	font-weight: 300;
	font-size: 1.3em;
}
.form-control{
	border-radius: 2px;
	border-color: #E0DDDD;
	box-shadow: none;
	height: 40px;
	margin-bottom: 10px;
	font-size: 17px;
}
.table > tbody > tr > td{
	border-top: 1px solid #EAEAEA;
}
.col-md-offset-3-5 {
  margin-left: 29.1666666%;
}